{
  "app_name": "babylond",
  "app_version": "{{ .AppVersion }}",
  "genesis_time": "{{ .GenesisTime }}",
  "chain_id": "{{ .ChainID }}",
  "initial_height": "{{ .InitialHeight }}",
  "app_hash": null,
  "app_state": {
    "auth": {
      "params": {
        "max_memo_characters": "{{ .AuthMaxMemoCharacters }}",
        "tx_sig_limit": "{{ .AuthTxSigLimit }}",
        "tx_size_cost_per_byte": "{{ .AuthTxSizeCostPerByte }}",
        "sig_verify_cost_ed25519": "{{ .AuthSigVerifyCostEd25519 }}",
        "sig_verify_cost_secp256k1": "{{ .AuthSigVerifyCostSecp256k1 }}"
      },
      "accounts": {{ .Accounts }}
    },
    "bank": {
      "params": {
        "send_enabled": [],
        "default_send_enabled": true
      },
      "balances": {{ .Balances }},
      "supply": [],
      "denom_metadata": [
        {
          "description": "{{ .DenomDescription }}",
          "denom_units": [
            {
              "denom": "{{ .DenomName }}",
              "exponent": 0,
              "aliases": []
            },
            {
              "denom": "{{ .DenomDisplay }}",
              "exponent": 6,
              "aliases": []
            }
          ],
          "base": "{{ .DenomName }}",
          "display": "{{ .DenomDisplay }}",
          "name": "{{ .DenomDisplay }}",
          "symbol": "{{ .DenomSymbol }}"
        }
      ]
    },
    "capability": {
      "index": "1",
      "owners": []
    },
    "crisis": {
      "constant_fee": {
        "amount": "1000",
        "denom": "{{ .DenomName }}"
      }
    },
    "distribution": {
      "params": {
        "community_tax": "0.020000000000000000",
        "base_proposer_reward": "0.010000000000000000",
        "bonus_proposer_reward": "0.040000000000000000",
        "withdraw_addr_enabled": true
      },
      "fee_pool": {
        "community_pool": []
      },
      "delegator_withdraw_infos": [],
      "previous_proposer": "",
      "outstanding_rewards": [],
      "validator_accumulated_commissions": [],
      "validator_historical_rewards": [],
      "validator_current_rewards": [],
      "delegator_starting_infos": [],
      "validator_slash_events": []
    },
    "evidence": {
      "evidence": []
    },
    "feegrant": {
      "allowances": []
    },
    "genutil": {
      "gen_txs": []
    },
    "gov": {
      "starting_proposal_id": "1",
      "deposits": [],
      "votes": [],
      "proposals": [],
      "deposit_params": {
        "min_deposit": [
          {
            "denom": "{{ .DenomName }}",
            "amount": "10000000"
          }
        ],
        "max_deposit_period": "172800s"
      },
      "voting_params": {
        "voting_period": "172800s"
      },
      "tally_params": {
        "quorum": "0.334000000000000000",
        "threshold": "0.500000000000000000",
        "veto_threshold": "0.334000000000000000"
      }
    },
    "ibc": {
      "client_genesis": {
        "clients": [],
        "clients_consensus": [],
        "clients_metadata": [],
        "params": {
          "allowed_clients": ["06-solomachine", "07-tendermint", "09-localhost"]
        },
        "create_localhost": false,
        "next_client_sequence": "0"
      },
      "connection_genesis": {
        "connections": [],
        "client_connection_paths": [],
        "next_connection_sequence": "0",
        "params": {
          "max_expected_time_per_block": "30000000000"
        }
      },
      "channel_genesis": {
        "channels": [],
        "acknowledgements": [],
        "commitments": [],
        "receipts": [],
        "send_sequences": [],
        "recv_sequences": [],
        "ack_sequences": [],
        "next_channel_sequence": "0"
      }
    },
    "mint": {
      "minter": {
        "inflation": "{{ .MintInflation }}",
        "annual_provisions": "{{ .MintAnnualProvisions }}"
      },
      "params": {
        "mint_denom": "{{ .DenomName }}",
        "inflation_rate_change": "{{ .MintInflationRateChange }}",
        "inflation_max": "{{ .MintInflationMax }}",
        "inflation_min": "{{ .MintInflationMin }}",
        "goal_bonded": "{{ .MintGoalBonded }}",
        "blocks_per_year": "{{ .MintBlocksPerYear }}"
      }
    },
    "params": null,
    "slashing": {
      "params": {
        "signed_blocks_window": "100",
        "min_signed_per_window": "0.500000000000000000",
        "downtime_jail_duration": "600s",
        "slash_fraction_double_sign": "0.050000000000000000",
        "slash_fraction_downtime": "0.010000000000000000"
      },
      "signing_infos": [],
      "missed_blocks": []
    },
    "staking": {
      "params": {
        "unbonding_time": "1814400s",
        "max_validators": 100,
        "max_entries": 7,
        "historical_entries": 10000,
        "bond_denom": "{{ .DenomName }}",
        "min_commission_rate": "0.000000000000000000"
      },
      "last_total_power": "0",
      "last_validator_powers": [],
      "validators": [],
      "delegations": [],
      "unbonding_delegations": [],
      "redelegations": [],
      "exported": false
    },
    "transfer": {
      "port_id": "transfer",
      "denom_traces": [],
      "params": {
        "send_enabled": true,
        "receive_enabled": true
      }
    },
    "upgrade": {},
    "vesting": {},
    "btccheckpoint": {
      "params": {
        "btc_confirmation_depth": {{ .BTCConfirmationDepth }},
        "checkpoint_finalization_timeout": {{ .CheckpointFinalizationTimeout }}
      }
    },
    "btclightclient": {
      "params": {
        "insert_headers_allow_list": []
      }
    },
    "checkpointing": {
      "params": {},
      "genesis_keys": [],
      "last_total_power": [],
      "genesis_hash": "{{ .CheckpointingGenesisHash }}"
    },
    "epoching": {
      "params": {
        "epoch_interval": {{ .EpochInterval }}
      }
    },
    "finality": {
      "params": {},
      "finality_providers": {{ .FinalityProviders }},
      "public_randomness": [],
      "public_randomness_commit": [],
      "evidence": []
    },
    "incentive": {
      "params": {}
    },
    "monitor": {
      "params": {}
    }
  },
  "consensus": {
    "params": {
      "block": {
        "max_bytes": "{{ .BlockMaxBytes }}",
        "max_gas": "{{ .BlockMaxGas }}"
      },
      "evidence": {
        "max_age_num_blocks": "{{ .EvidenceMaxAgeNumBlocks }}",
        "max_age_duration": "{{ .EvidenceMaxAgeDuration }}",
        "max_bytes": "{{ .EvidenceMaxBytes }}"
      },
      "validator": {
        "pub_key_types": {{ .ValidatorPubKeyTypes }}
      },
      "version": {
        "app": "1"
      }
    }
  }
}
